.row{
    display: flex;
}

.col{
    background-color: teal;
    flex: 1;
    padding: 20px;
    margin: 10px;
}

.col2{
    background-color: teal;
    flex: 2;
    padding: 20px;
    margin: 10px;
}

.col3{
    background-color: teal;
    flex: 3;
    padding: 20px;
    margin: 10px;
}